/* Variables */
$border-color: #b8bec9;
$font-serif: Lora, serif;
$font-sans: Roboto, sans-serif;
$text-color: #14284b;
$text-gray: #808080;


/* Style */
p {
	font-size: 16px;
	font-family: $font-sans;
}

.text-on-banner {
	font-family: $font-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
}

.site-header {
	nav {
        border-bottom: 1px solid $border-color;
    }
}

.padding-big {
	padding: 80px 0 40px 0;
}

.padding-medium {
	padding: 40px 0;
}

.padding-small {
	padding: 20px 0;
}

.padding-extra-small {
	padding: 0 0 10px 0;
}

figure {
	margin-bottom: 10px;
}

.aria-section {
	padding-bottom: 40px;
	border-bottom: 1px solid $border-color;
}

.smaller-width{
	max-width: 600px;
}  

.smaller-text {
	font-size: 16px; 
	font-weight: 400;
}

.timeline-container {
	background-image: url(images/despre/despre-pattern.jpg);
	padding-bottom: 20px;
	.padding-small {
		margin-right: 40px;
	}
	.years {
		font-family: $font-serif;
		font-size: 30px;
		margin: 0 auto;
	}
	.despre-thumbnails {
		max-width: 326px;
		max-height: 218px;
		width: auto;
		height: auto;
		margin-bottom: 20px;
	}
}

.module {
	margin-bottom: 20px;
	h3 {
		padding-bottom: 40px;
	}
	.circle {
		position: relative;
		margin-bottom: 20px;
		img {
			width: 190px;
			height: 190px;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
		}
		.big-number {
			font-family: $font-serif;
			font-size: 72px;
			color: #ffffff;
			position: absolute;
			top: 23%;
			left: 0;
			width: 100%;
		}
	}	
}

.form-input {
	display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 16px;
    line-height: 1.5;
    color: $text-gray;
    background-color: #fff;
    background-image: none;
    border: 1px solid $border-color;
    border-radius: 0;
    &:focus {
    	outline: none;
    }
    textarea {
    	height: 200px;
    }
}

.custom-button {
	background-color: #ffffff;
	border: 1px solid $text-color;
	padding: 0 36px;
	height: 40px;
	font-weight: 400;
	transition: all .3s ease;
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: $text-color;
		color: #ffffff;
	}
}

button[type="submit"] {
	margin-top: 20px;
}	

.emphasized {
	font-weight: 500;
	color: $text-color;
}

.margin-top {
	margin-top: 20px;
}

#contactCarousel {
	.carousel-inner {
		width: 100%;
		overflow: hidden;
		height: 230px;
		position: relative;
	}
	.carousel-control {
		background-image: none;
		top: 40%;
		opacity: 1;
		i {
			font-size: 60px;
			color: #fff;
		}
	}
}

.text-on-bottom {
	display: flex;
	align-items: flex-end;
	min-height: 560px;
}

.text-under-image {
	margin-top: 30px;
}

@media screen and (max-width: 992px) {
	.intro-lookbook-text {
		display: none;
	}
	.main-text-mobile {
		display: block;
	}
	figure {
		margin-bottom: 15px;
	}
	.text-on-bottom {
		min-height: 50px;
	}
	.padding-small, .padding-extra-small {
		padding: 0px;
	}
	.centered-image {
		max-width: 360px;
		display: inline-block;
	}
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
	.text-on-bottom {
		min-height: 465px;
	}
}

@media screen and (min-width: 993px) {
	.main-text-mobile {
		display: none;
	}
}

.intro {
	max-height: 500px;
	overflow: hidden;
}

.img-thumbnail {
	border-radius: 0px;
	padding: 0px;
}

.intro-lookbook-text {
    width: 16%;
    position: absolute;
    top: 20%;
}

.italic {
    font-style: italic;
}

