/* Variables */
/* Style */
/* line 10, style2.scss */
p {
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

/* line 15, style2.scss */
.text-on-banner {
  font-family: Lora, serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
}

/* line 23, style2.scss */
.site-header nav {
  border-bottom: 1px solid #b8bec9;
}

/* line 28, style2.scss */
.padding-big {
  padding: 80px 0 40px 0;
}

/* line 32, style2.scss */
.padding-medium {
  padding: 40px 0;
}

/* line 36, style2.scss */
.padding-small {
  padding: 20px 0;
}

/* line 40, style2.scss */
.padding-extra-small {
  padding: 0 0 10px 0;
}

/* line 44, style2.scss */
figure {
  margin-bottom: 10px;
}

/* line 48, style2.scss */
.aria-section {
  padding-bottom: 40px;
  border-bottom: 1px solid #b8bec9;
}

/* line 53, style2.scss */
.smaller-width {
  max-width: 600px;
}

/* line 57, style2.scss */
.smaller-text {
  font-size: 16px;
  font-weight: 400;
}

/* line 62, style2.scss */
.timeline-container {
  background-image: url(images/despre/despre-pattern.jpg);
  padding-bottom: 20px;
}
/* line 65, style2.scss */
.timeline-container .padding-small {
  margin-right: 40px;
}
/* line 68, style2.scss */
.timeline-container .years {
  font-family: Lora, serif;
  font-size: 30px;
  margin: 0 auto;
}
/* line 73, style2.scss */
.timeline-container .despre-thumbnails {
  max-width: 326px;
  max-height: 218px;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

/* line 82, style2.scss */
.module {
  margin-bottom: 20px;
}
/* line 84, style2.scss */
.module h3 {
  padding-bottom: 40px;
}
/* line 87, style2.scss */
.module .circle {
  position: relative;
  margin-bottom: 20px;
}
/* line 90, style2.scss */
.module .circle img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
/* line 97, style2.scss */
.module .circle .big-number {
  font-family: Lora, serif;
  font-size: 72px;
  color: #ffffff;
  position: absolute;
  top: 23%;
  left: 0;
  width: 100%;
}

/* line 109, style2.scss */
.form-input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 16px;
  line-height: 1.5;
  color: gray;
  background-color: #fff;
  background-image: none;
  border: 1px solid #b8bec9;
  border-radius: 0;
}
/* line 120, style2.scss */
.form-input:focus {
  outline: none;
}
/* line 123, style2.scss */
.form-input textarea {
  height: 200px;
}

/* line 128, style2.scss */
.custom-button {
  background-color: #ffffff;
  border: 1px solid #14284b;
  padding: 0 36px;
  height: 40px;
  font-weight: 400;
  transition: all .3s ease;
}
/* line 135, style2.scss */
.custom-button:focus {
  outline: none;
}
/* line 138, style2.scss */
.custom-button:hover {
  background-color: #14284b;
  color: #ffffff;
}

/* line 144, style2.scss */
button[type="submit"] {
  margin-top: 20px;
}

/* line 148, style2.scss */
.emphasized {
  font-weight: 500;
  color: #14284b;
  line-height: 2;
}

/* line 154, style2.scss */
.margin-top {
  margin-top: 20px;
}

/* line 159, style2.scss */
#contactCarousel1 .carousel-inner, #contactCarousel2 .carousel-inner, #contactCarousel3 .carousel-inner {
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 164, style2.scss */
#contactCarousel1 .carousel-control, #contactCarousel2 .carousel-control, #contactCarousel3 .carousel-control {
  background-image: none;
  top: 40%;
  opacity: 1;
}
/* line 168, style2.scss */
#contactCarousel1 .carousel-control i, #contactCarousel2 .carousel-control i, #contactCarousel3 .carousel-control i {
  font-size: 60px;
  color: #fff;
}

/* line 175, style2.scss */
.text-on-bottom {
  display: flex;
  align-items: flex-end;
  min-height: 560px;
}

/* line 181, style2.scss */
.text-under-image {
  margin-top: 30px;
}

@media screen and (max-width: 992px) {
  /* line 186, style2.scss */
  .intro-lookbook-text {
    display: none;
  }

  /* line 189, style2.scss */
  .main-text-mobile {
    display: block;
  }

  /* line 192, style2.scss */
  figure {
    margin-bottom: 15px;
  }

  /* line 195, style2.scss */
  .text-on-bottom {
    min-height: 50px;
  }

  /* line 198, style2.scss */
  .padding-small, .padding-extra-small {
    padding: 0px;
  }

  /* line 201, style2.scss */
  .centered-image {
    max-width: 360px;
    display: inline-block;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  /* line 208, style2.scss */
  .text-on-bottom {
    min-height: 465px;
  }
}
/* line 213, style2.scss */
.intro {
  max-height: 500px;
  overflow: hidden;
}

/* line 218, style2.scss */
.img-thumbnail {
  border-radius: 0px;
  padding: 0px;
}

/* line 223, style2.scss */
.intro-lookbook-text {
  width: 16%;
  position: absolute;
  top: 20%;
}

/* line 229, style2.scss */
.italic {
  font-style: italic;
}

/* line 233, style2.scss */
.footer-gaastra {
  margin-top: 30px;
}

/* Media queries  for large devices - Desktops */
@media screen and (max-width: 1200px) {
  /* line 239, style2.scss */
  .text-alignment {
    text-align: left;
  }
}
/* Media queries  for medium devices - Desktops */
@media screen and (max-width: 992px) {
  /* line 246, style2.scss */
  .text-margin-bottom {
    margin-bottom: 15px;
  }

  /* line 250, style2.scss */
  .intro-lookbok-text {
    display: none;
  }

  /* line 253, style2.scss */
  .padding-top {
    padding-top: 40px;
  }

  /* line 256, style2.scss */
  .padding-top-small {
    padding-top: 10px;
  }

  /* line 259, style2.scss */
  .centered-image {
    width: 280px;
  }
}
/* Media queries  for small devices - Tablets */
/* Media queries  for small devices - Phones */
@media screen and (max-width: 768px) {
  /* line 271, style2.scss */
  .aria-section > div > p {
    margin-bottom: 30px;
  }

  /* line 275, style2.scss */
  .timeline-container .padding-small {
    margin-right: 0;
  }

  /* line 279, style2.scss */
  .timeline-images {
    display: none;
  }

  /* line 282, style2.scss */
  .padding-top {
    padding-top: 0px;
  }

  /* line 285, style2.scss */
  #contactCarousel .carousel-control {
    top: 44%;
  }
  /* line 287, style2.scss */
  #contactCarousel .carousel-control i {
    font-size: 48px;
  }

  /* line 291, style2.scss */
  .text-alignment {
    text-align: center;
  }

  /* line 294, style2.scss */
  .wpcf7 {
    margin-top: 20px;
  }

  /* line 297, style2.scss */
  .wpcf7-submit {
    margin-bottom: 20px;
  }
}
/* Media queries  for small devices - Phones */
@media screen and (max-width: 360px) {
  /* line 304, style2.scss */
  .centered-image {
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  /* line 310, style2.scss */
  .centered-image {
    width: 260px;
  }
}
